.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgb(255, 255, 255);
  padding: 15px 10px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #1c1c1c;
}

.logoIcon {
  width: 32px;
  height: 32px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Desktop Nav */

.nav {
  display: flex;
  gap: 40px;
  font-size: 14px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #444;
  transition: 0.3s ease;
}

.nav a:hover {
  color: black;
}

/* Desktop Button */

.enterBtn {
  background: #29d391;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.enterBtn:hover {
  background: #20b77d;
}

/* Hide mobile button initially */
.mobileBtn {
  display: none;
}

/* Hamburger */

.menuToggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menuToggle span {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


















/* ============================= */
/* Tablet                       */
/* ============================= */

@media (max-width: 1024px) {
  .header {
    padding: 20px 30px;
  }

  .nav {
    gap: 25px;
  }
}


























@media (max-width: 768px) {
 .header {
    padding: 10px 20px;
  }
  .menuToggle {
    display: flex;
  }

  .enterBtn {
    display: none;
  }

  .nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
    transition: 0.3s ease;
  }

  .navActive {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .mobileBtn {
    display: block;
    background: #29d391;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
  }
}