*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: rgb(246, 250, 250);
}


body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}


